@page "/"
@inject ClippyService clippy

<PageTitle>Clippy Demo</PageTitle>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" onclick="@(async () => await clippy.Load())">Load</button>
    </div>
</div>
<div class="row" style="margin-top:2px;">
    <div class="col">
        <button class="btn btn-primary" onclick="@(async () => await clippy.AnimateRandom())">Animate Random</button>
    </div>
</div>
<div class="row" style="margin-top:2px;">    
    <div class="col">
        <button class="btn btn-primary" onclick="@(async () => await clippy.PlayAnimation(ClippyAnimations.GoodBye))">Play GoodBye</button>
    </div>
</div>
<div class="row" style="margin-top:2px;">    
    <div class="col">
        <button class="btn btn-primary" onclick="@(async () => await clippy.PlayAnimation(ClippyAnimations.CheckingSomething))">Play Checking something</button>
    </div>
</div>
<div class="row" style="margin-top:2px;">    
    <div class="col">
        <button class="btn btn-primary" onclick="@(async () => await clippy.PlayAnimation(ClippyAnimations.Thinking))">Play Thinking</button>
    </div>
</div>
<div class="row" style="margin-top:2px;">    
    <div class="col">
        <button class="btn btn-primary" onclick="@(async () => await clippy.Speak("Hello All Blazor Lovers :)"))">Speak Text</button>
    </div>
</div>
<div class="row" style="margin-top:2px;">    
    <div class="col">
        <button class="btn btn-primary" onclick="@(async () => await clippy.GestureAt(50,50))">Gesture At 50,50</button>
    </div> 
</div>